




<div class="back-modal">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content shadow">
            <div class="modal-header">
              <h5 class="modal-title">Puesto de trabajo</h5> 
              <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <form autocomplete="off"
                  [formGroup]="form"
                  class="row">
  
                  <span class="text-danger"><small>Campos requeridos *</small></span>
  
                  <div class="col-md-12 my-2">
                    <label>Titulo<span class="text-danger">*</span></label>
                    <input 
                      class="form-control mt-2"
                      placeholder="Titulo de la plantilla"
                      formControlName="title" />
                    <div *ngIf="inputInvalid('title')" class="text-danger">
                        <span><small>{{ errorMessage('title') }}</small></span>
                    </div> 
                  </div>
  
  
                  <div class="col-md-12 my-2">
                    <label class="mb-2">Descripciones / Cláusulas / Anexos de la cotización</label>
                    <angular-editor 
                        [placeholder]="'Escribe aquí...'" 
                        formControlName="htmlDescription"
                        [config]="editorConfig"
                        [maxlength]="7291">
                    </angular-editor>
                    <div *ngIf="inputInvalid('htmlDescription')" class="text-danger">
                        <span><small>{{ errorMessage('htmlDescription') }}</small></span>
                     </div> 
                  </div>
  
                </form>
  
  
            </div>
            <div class="modal-footer">
              <button type="button" (click)="closeModal()" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              <button 
                type="button"
                (click)="handleSubmit()" 
                class="btn btn-primary"
                [disabled]="isLoading">{{ isLoading ? 'Guardando...' : 'Guardar'}}</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  