
<div class="auth-container" 
    style="
        background-image: url('/assets/images/bg1.jpeg');
        background-size: contain;
    ">
    <div class="row shadow auth-content">
        
        <div class="d-flex col-md-7 p-md-5 bg-light backDescription flex-column justify-content-center">

            <div class="logo-container">
                <img
                    class="logo" 
                    src="assets/images/logo2.png"
                    alt="Logo">
            </div>
        
        </div>
        
        
        <div class="col-12 col-md-5 bg-dark d-flex flex-column justify-content-between px-5 form-container">

            <div class="flex: 1"></div>

            <div>
                <h3>Iniciar sesión</h3>
        
                <login-form></login-form>
            </div>

            <div class="text-center m-2">
                <span style="font-size: .8rem;">&copy; {{ year }} OCTRAM TECHNOLOGIES</span>
            </div>

        </div>


    </div>
</div>