




<div class="back-modal">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content shadow">
            <div class="modal-header">
              <h5 class="modal-title">Enviar a correo electronico(s)</h5> 
              <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <tag-input 
                    [(ngModel)]='emails' 
                    placeholder="+ Correo electrónico"
                    [separatorKeys]="[' ']"
                    secondaryPlaceholder="Agregar correo electrónico">
                </tag-input>

            </div>
            <div class="modal-footer">
              <button type="button" (click)="closeModal()" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button 
                  type="button"
                  (click)="sendByCustomerEmail()" 
                  class="btn btn-primary"
                  [disabled]="isSending">{{ isSending ? 'Enviando...' : 'Enviar'}}</button>
            </div>
          </div>
        </div>
      </div>
</div>
