/* Estilos personalizados para el componente de tabla de órdenes de trabajo */
.container {
    padding-top: 1rem;
  }
  
  .table {
    margin-top: 1rem;
  }
  
  .text-end {
    margin-bottom: 1rem;
  }