



 
<div class="back-modal">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content shadow">
            <div class="modal-header">
              <h5 class="modal-title">{{ product.name }}</h5> 
              <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              
              <div class="row bg-white mt-3 p-3">

                <div class="col-md-6 mt-4 mt-md-0 d-flex justify-content-center flex-column">

                  <span class="text-danger"><small>{{ errorMessage() }}</small></span>
    
                  <div class="input-group">
                    <input 
                        type="file" 
                        multiple
                        class="form-control" 
                        id="inputGroupFile04" 
                        aria-describedby="inputGroupFileAddon04" 
                        aria-label="Upload"
                        #fileInput
                        (change)="changeFile( $event.target )">
                  </div>
                
                </div>

                <div class="col-md-6">
                  <ul class="navbar-nav">
                    <li class="nav-item" *ngFor="let file of pFilesToUpload; let idx = index;">
                        <div  class="nav-link d-flex justify-content-between align-items-center"> 
                          <div>
                            <img class="ico" src="assets/images/pdf-logo.svg" alt="LOGO PNG">
                            <span>{{ file.name }}</span>
                          </div>
                          <span style="cursor: pointer;"
                            (click)="removeFileItem(idx)"><i class="fa-solid fa-xmark"></i></span>
                        </div>
                    </li>
                  </ul>
                </div>
    
              </div>


            </div>
            <div class="modal-footer justify-content-between">
              <div>
                <span class="text-muted">Archivos actuales: {{product.productFiles.length}}. </span>
                <span class="text-danger">Limite de archivos para subir: {{ this.limitFiles - this.product.productFiles.length }}. </span>
              </div>
              <div>

                <button type="button" (click)="closeModal()" class="btn btn-danger me-2" data-bs-dismiss="modal">Cancelar</button>
                <button [disabled]="pFilesToUpload.length == 0 || isLoading" type="button" (click)="uploadImage()" class="btn btn-primary">{{ isLoading ? 'Actualizando...' : 'Guardar' }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
