
<div class="bg-light px-2 py-4 row">
    <div class="col-md-12 mb-3">
      <input-search 
        placeholder="Buscar producto.."
        (onEnter)="search( $event )"
        (onDebounce)="search( $event )"
      />
    </div>
    <div class="col-md-4">
      <select
          class="form-control mb-3 mb-md-0"
          [(ngModel)]="businessLineId"
          (ngModelChange)="changeModel('businessLineId')"
          >
          <option [value]="0">TODAS LAS LÍNEAS DE NEGOCIO</option>
          <option *ngFor="let line of businessLines" [value]="line.id">{{ line.name }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select
          class="form-control mb-3 mb-md-0"
          [(ngModel)]="businessFamilyId"
          (ngModelChange)="changeModel('businessFamilyId')"
          >
          <option [value]="0">TODAS LAS FAMILIAS</option>
          <option *ngFor="let family of businessFamilies" [value]="family.id">{{ family.name }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select
          class="form-control mb-3 mb-md-0"
          [(ngModel)]="productTypeId"
          (ngModelChange)="changeModel('productTypeId')"
      >
          <option [value]="0">TODOS LOS TIPOS DE PRODUCTOS</option>
          <option *ngFor="let type of productTypes" [value]="type.id">{{ type.value }}</option>
      </select>
    </div>
  </div>

  <div class="mt-4 text-center"  *ngIf="isLoading; else templateProducts">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ng-template #templateProducts>

    <p class="text-center text-muted mt-4" *ngIf="totalResults == 0">No hay productos por mostar.</p>
    

      <div class="mt-4" *ngIf="totalResults > 0">

          <div class="table-responsive mt-4" *ngIf="totalResults > 0">
              <table class="table table-light table-striped table-hover mt-3">
                <thead>
                  <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Línea de negocio</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Existencia</th>
                    <th scope="col">Cantidad disponible</th>
                    <!-- <th scope="col" *ngIf="authService.isAdmin()">Herramientas</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products" [ngClass]="{ 'text-muted': !product.isActive }">
                    <td>
                      <a *ngIf="product.image" [routerLink]="['details', product.id]">
                        <img class="product-image"
                            [src]="product.image | image:'products'"
                            [alt]="product.name">
                      </a>
                      <a *ngIf="!product.image" [routerLink]="['details', product.id]">
                        <img class="product-image"
                            src="assets/images/no-image.jpeg"
                            [alt]="product.name">
                      </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.businessLine.name }}</td>
                    <td>{{ product.businessFamily.name }}</td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.totalStock }}</td>
                    <td>{{ product.availableStock }}</td>
                    <!-- <td *ngIf="authService.isAdmin()">
                      <button
                        [disabled]="isSaving"
                        class="btn btn-sm btn-outline-danger me-2"> Eliminar
                      </button>
                      </td> -->
                  </tr>
                </tbody>
              </table>
          </div>

      </div>

    <ng-container *ngIf="totalResults > limit">
      <paginator 
        [limit]="limit"
        [totalResults]="totalResults"
        [currentPage]="currentPage"
        (chageCurrentPage)="changePage( $event )"
      />
    </ng-container>

  </ng-template>

