




<div class="back-modal">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
          <div class="modal-content shadow">
            <div class="modal-header">
              <h5 class="modal-title">Restablecer credenciales</h5> 
              <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <p>Restablecer contraseña del empleado <span class="fw-bold">{{ employee.name }} {{ employee.lastName }}</span></p>

              <form autocomplete="off"
                [formGroup]="form"
                class="row">

                <div class="col-12 mb-2">
                  <label>Usuario<span class="text-danger">*</span></label>
                  <input 
                    type="text"
                    class="form-control mt-2"
                    placeholder="Nueva contraseña"
                    [ngClass]="{'border-danger': inputInvalid('userName') }" 
                    formControlName="userName">
                  <div *ngIf="inputInvalid('userName')" class="text-danger">
                    <span><small>{{ errorMessage('userName') }}</small></span>
                  </div>
                </div>

                <div class="col-12 mb-2">
                  <label>Nueva contraseña<span class="text-danger">*</span></label>
                  <div class="input-group mt-2">
                    <input 
                      type="password"
                      class="form-control"
                      placeholder="Nueva contraseña"
                      [ngClass]="{'border-danger': inputInvalid('password') }" 
                      formControlName="password"
                      id="inputPassword">
                    <button type="button" 
                      class="btn btn-light" 
                      (click)="togglePasswordVisibility()" 
                      style="border-left: 0;">
                      <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                    </button>
                  </div>
                  <div *ngIf="inputInvalid('password')" class="text-danger">
                    <span><small>{{ errorMessage('password') }}</small></span>
                  </div>
                </div>

                <div class="col-12 mb-2">
                  <label>Tipo de acceso<span class="text-danger">*</span></label>
                  <select 
                      class="form-control mt-2"
                      formControlName="accessTypeId">
                      <option value="">Seleccionar una opción</option>
                      <option *ngFor="let accessType of accessTypes" [value]="accessType.id">{{ accessType.value }}</option>
                  </select>
                  <div *ngIf="inputInvalid('accessTypeId')" class="text-danger">
                      <span><small>{{ errorMessage('accessTypeId') }}</small></span>
                  </div>
              </div>
  
              <!-- <div class="col-12 mb-2">
                  <label>Rol<span class="text-danger">*</span></label>
                  <select 
                      class="form-control mt-2"
                      formControlName="roleId">
                      <option value="">Seleccionar una opción</option>
                      <option *ngFor="let role of roles" [value]="role.id">{{ role.value }}</option>
                  </select>
                  <div *ngIf="inputInvalid('roleId')" class="text-danger">
                      <span><small>{{ errorMessage('roleId') }}</small></span>
                  </div>
              </div> -->

              </form>


            </div>
            <div class="modal-footer">
              <button type="button" (click)="closeModal()" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button [disabled]="isLoading" type="button" (click)="resetCredentials()" class="btn btn-primary">{{isLoading ? 'Guardando...' : 'Restablecer'}}</button>
            </div>
          </div>
        </div>
      </div>
</div>
