

<!-- ========================
  NAVBAR
============================= -->
<app-navbar></app-navbar>
<!-- ========================
  END NAVBAR
============================= -->


<!-- ========================
  SIDEBAR
============================= -->
<app-sidebar></app-sidebar>
<!-- ========================
  END SIDEBAR
============================= -->


<!-- ========================
    MAIN CONTENT
============================= -->
<main>
    <div class="container-fluid">


     <router-outlet></router-outlet>


    </div>
</main>
<!-- ========================
    END MAIN CONTENT
============================= -->