



<div class="back-modal">
  <div class="modal" style="display: block;" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content shadow">
          <div class="modal-header">
            <h5 class="modal-title">Renovar contrato</h5> 
            <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

        <ng-container *ngIf="isLoading; else contractTemplate">
            <div class="text-center">
                <p class="text-muted mt-4">Cargando información del contrato.</p>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-container>
    
        <ng-template #contractTemplate>
    
                <h1>Detalle del contrato</h1>


                <div class="row px-3">
            
            
                    <div class="col-md-12 mt-4 mt-md-0">
    
                        <h6 class="text-primary fw-bold">Datos Generales</h6>
                        <div class="row">
                            <div class="col-md-3 d-flex flex-column mb-2"><small>Folio</small><span>{{ contract.folio }}</span></div>
                            <div class="col-md-4 d-flex flex-column mb-2"><small>Creado por</small><span>{{ contract.createdBy.name }} {{ contract.createdBy.lastName }}</span></div>
                            <div class="col-md-4 d-flex flex-column mb-2"><small>Fecha</small><span>{{ contract.createdAt | date: 	'dd-MMM-yy' }}</span></div>
                        </div>



                        <h6 class="text-primary fw-bold">Datos Cliente</h6>
                        <div class="row">
                            <div class="col-md-6 d-flex flex-column mb-2"><small>Cliente</small><span>{{ contract.customer.name }}</span></div>
                            <div class="col-md-6 d-flex flex-column mb-2"><small>Correo electrónico</small><span>{{ contract.customer.email }}</span></div>
                        </div>

                        <h6 class="text-primary fw-bold">Instalaciones donde se realiza el servicio</h6>
                        <div class="table-responsive" >

                          <table class="table table-light table-striped table-hover mt-3">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Referencias</th>
                              </tr> 
                            </thead>
                            <tbody>
                              <tr *ngFor="let address of contract.addresses; let i = index;">
                                <td># {{ i + 1 }}</td>
                                <td>{{ address.name }}</td>
                                <td>{{ address.address }}</td>
                                <td>{{ address.references }}</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>



                        <!-- <h6 class="text-primary fw-bold">Instalaciones donde se realiza el servicio</h6>
                        <div class="table-responsive" >

                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Dirección</th>
                                  <th scope="col">Referencias</th>
                                </tr> 
                              </thead>
                              <tbody>
                                <tr *ngFor="let address of budget.addresses; let i = index;">
                                  <td># {{ i + 1 }}</td>
                                  <td>{{ address.address }}</td>
                                  <td>{{ address.references }}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div> -->



                        <h6 class="text-primary fw-bold">Artículos/Tratamientos</h6>
                        <div class="table-responsive" >

                            <table class="table table-light table-striped table-hover mt-3">
                              <thead>
                                <tr>
                                  <th scope="col">Cantidad</th>
                                  <th scope="col">Artículos/Tratamientos</th>
                                  <!-- <th scope="col">Sede(s)</th> -->
                                  <th scope="col">Precio unitario</th>
                                  <th scope="col">Importe</th>
                                  <th scope="col">Impuesto</th>
                                  <th scope="col">Total</th>
                                </tr> 
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let cp of contract.contractsProducts">
                                  <tr>
                                    <td>{{ cp.amount}}</td>
                                    <td>{{ cp.product.name }}</td>
                                    <!-- <td>
                                      <span *ngFor="let a of cp.addresses">
                                        {{ a.name }} |
                                      </span>
                                    </td> -->
                                    <td>$ {{ cp.unitPrice | number : '1.2-2' }}</td>
                                    <td>$ {{ cp.totalWithoutIva | number : '1.2-2' }}</td>
                                    <td>$ {{ cp.iva | number : '1.2-2' }}</td>
                                    <td>$ {{ cp.totalWithIva | number : '1.2-2' }}</td>
                                  </tr>
                                  <tr *ngIf="cp.htmlDescription">
                                    <td colspan="7">
                                      <div [innerHTML]="cp.htmlDescription"></div>
                                    </td>
                                  </tr>
                                </ng-container>
                                <tr>
                                    <th rowspan="2" colspan="2">Totales:</th>
                                    <th>Impuestos</th>
                                    <th>Total sin IVA</th>
                                    <th>Impuesto(IVA)</th>
                                    <th>TOTAL</th>
                                </tr>
                                <tr>
                                  <td>IVA Regular</td>
                                  <td>$ {{ contract.totalWithoutIva | number : '1.2-2' }}</td>
                                  <td>$ {{ contract.iva | number : '1.2-2' }}</td>
                                  <th>$ {{ contract.totalWithIva | number : '1.2-2' }}</th>
                                </tr>
                              </tbody>
                            </table>
                        </div>
 
                        
                        <h6 class="text-primary fw-bold">Datos de pago</h6>
                        <div class="row">
                            <div class="col-md-3 d-flex flex-column mb-2"><small>Método de pago</small><span>{{ contract.paymentMethod }}</span></div>
                            <div class="col-md-3 d-flex flex-column mb-2"><small>Tipo de trabajo a realizar</small><span>{{ contract.typeWork }}</span></div>
                            <div *ngIf="contract.htmlDescription" class="col-md-12 d-flex flex-column mb-2"><small>Descripciones / Cláusulas / Anexos de la cotización</small><div [innerHTML]="contract.htmlDescription"></div></div>
                        </div>

                    </div>
            
                </div>

                <hr>


                <form class="row" [formGroup]="form">

                  <div class="col-md-6">
                    <label>Nueva fecha expiración<span class="text-danger">*</span></label>
                    <input 
                      type="date" 
                      class="form-control mt-2"
                      formControlName="expirationDate"
                      >
                      <div *ngIf="inputInvalid('expirationDate')" class="text-danger">
                        <span><small>{{ errorMessage('expirationDate') }}</small></span>
                    </div> 
                  </div>

                </form>

    
        </ng-template>
    
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeModal()" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button 
            type="button"
            class="btn btn-primary"
            (click)="submit()"
            [disabled]="isSaving">{{ isSaving ? 'Renovando...' : 'Renovar'}}</button>
      </div>
    </div>
  </div>
</div>
</div>

    
    
    